body{
    font-family: serif;
    line-height: 1em;
    font-size: 17px;
    color: rgb(22, 21, 21);
    max-width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background: -webkit-linear-gradient(38deg, rgb(237, 178, 22), rgb(196, 217, 88));
    background: linear-gradient(38deg, rgb(237, 178, 22), rgb(196, 217, 88));




}

a{
    text-decoration: none;
    color:red;
  
}

a:hover{
    color: rgb(247, 236, 236);
}

a:visited{
    color: rgb(70, 68, 68);
}

blockquote{
    background-color: rgb(206, 193, 193);
    width: 50%;
    border-left: 3px solid black;
    margin: auto;
    padding-left: 30px;
    padding-bottom: 80px;
    padding-top: 80px;
    
}

q {
font-size: 160%;
background-color: rgb(206, 193, 193);
margin-top: 80px;
margin-bottom: 80px;
display: block;
font-style: italic;


}

h1{
    background-color: yellow;
   
}


    
.good{
    color: green;
}

.bad{
    color: red;
}

table{
   
        border: 1px solid #000000;
        width: 50%;
        }
td, th {
        border: thin solid white;
        width: 50%;
        background-color: rgb(206, 193, 193);
        
}

p{
    font-style: bold;
}

q.V{
    border-left: 3px solid green;

}

q.F{
    border-left:3px solid purple;

}